In [29]:
import pandas as pd

In [30]:
train = pd.read_csv('SongCSV_filtered.csv')

In [31]:
#Number of words...
train['wordCount'] = train['Lyrics'].apply(lambda x: len(str(x).split(" ")))
train[['Lyrics','wordCount']].head()

                                              Lyrics  wordCount
0                                       INSTRUMENTAL          1
1  It's time that I rain on your parade Watch as ...        108
2  You who's coming up the stairs, Shouting- I’m ...         69
3  Life is lik A merry go round Painted horses Ri...         58
4                                       INSTRUMENTAL          1

In [32]:
#Number of characters includding spaces
train['charCount'] = train['Lyrics'].str.len()
train[['Lyrics','charCount']].head()

                                              Lyrics  charCount
0                                       INSTRUMENTAL       12.0
1  It's time that I rain on your parade Watch as ...      547.0
2  You who's coming up the stairs, Shouting- I’m ...      378.0
3  Life is lik A merry go round Painted horses Ri...      276.0
4                                       INSTRUMENTAL       12.0

In [33]:
#Average length of words.
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

train['avgWordSize'] = train['Lyrics'].apply(lambda x: avg_word(str(x)))
train[['Lyrics','avgWordSize']].head()

                                              Lyrics  avgWordSize
0                                       INSTRUMENTAL    12.000000
1  It's time that I rain on your parade Watch as ...     4.190476
2  You who's coming up the stairs, Shouting- I’m ...     4.626866
3  Life is lik A merry go round Painted horses Ri...     3.981818
4                                       INSTRUMENTAL    12.000000

In [34]:
#Number of stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x in stop]))
train[['Lyrics','stopwords']].head()

                                              Lyrics  stopwords
0                                       INSTRUMENTAL          0
1  It's time that I rain on your parade Watch as ...         41
2  You who's coming up the stairs, Shouting- I’m ...         15
3  Life is lik A merry go round Painted horses Ri...         14
4                                       INSTRUMENTAL          0

In [35]:
#Number of Numerics
train['numerics'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x.isdigit()]))
train[['Lyrics','numerics']].head()

                                              Lyrics  numerics
0                                       INSTRUMENTAL         0
1  It's time that I rain on your parade Watch as ...         0
2  You who's coming up the stairs, Shouting- I’m ...         0
3  Life is lik A merry go round Painted horses Ri...         0
4                                       INSTRUMENTAL         0

In [36]:
#Number of upper case words
train['upperCase'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x.isupper()]))
train[['Lyrics','upperCase']].head()

                                              Lyrics  upperCase
0                                       INSTRUMENTAL          1
1  It's time that I rain on your parade Watch as ...          1
2  You who's coming up the stairs, Shouting- I’m ...          1
3  Life is lik A merry go round Painted horses Ri...          3
4                                       INSTRUMENTAL          1

In [37]:
#Number of Lower Case words.
train['lowerCase'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x.islower()]))
train[['Lyrics','lowerCase']].head()

                                              Lyrics  lowerCase
0                                       INSTRUMENTAL          0
1  It's time that I rain on your parade Watch as ...         89
2  You who's coming up the stairs, Shouting- I’m ...         52
3  Life is lik A merry go round Painted horses Ri...         40
4                                       INSTRUMENTAL          0